
*.pdb
*.vsidx
*.vsidx
*.json
*.dll
*.exe
.vs/ROIApplication/FileContentIndex/5ddb15b8-7cb6-4982-a6f3-fc22202bda26.vsidx
.vs/ROIApplication/FileContentIndex/ad6088b8-5032-4ca2-8812-d00cf8d6c023.vsidx
.vs/ROIApplication/FileContentIndex/e09d856f-3548-445b-af40-a337326635d7.vsidx
.vs/ROIApplication/FileContentIndex/e3dfaa82-590e-4761-b19f-31d000436d03.vsidx
.vs/ROIApplication/FileContentIndex/fb2cecf7-1411-4b62-b013-c98e4101df73.vsidx
.vs/ROIApplication/v17/.suo
ROIApplication.API/bin/Debug/net8.0/appsettings.json
ROIApplication.API/bin/Debug/net8.0/ROIApplication.API.dll
ROIApplication.API/bin/Debug/net8.0/ROIApplication.API.exe
ROIApplication.API/bin/Debug/net8.0/ROIApplication.API.pdb
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Application.dll
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Application.pdb
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Domain.dll
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Domain.pdb
ROIApplication.API/obj/Debug/net8.0/apphost.exe
ROIApplication.API/obj/Debug/net8.0/ref/ROIApplication.API.dll
ROIApplication.API/obj/Debug/net8.0/refint/ROIApplication.API.dll
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.csproj.AssemblyReference.cache
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.csproj.FileListAbsolute.txt
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.dll
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.pdb
ROIApplication.API/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ROIApplication.API/obj/Release/net8.0/PublishOutputs.11e6259a16.txt
ROIApplication.API/obj/Release/net8.0/PubTmp/Out/web.config
ROIApplication.API/obj/Release/net8.0/PubTmp/ROIApplication.API.Parameters.xml
ROIApplication.API/obj/Release/net8.0/PubTmp/ROIApplication.API.SourceManifest.xml
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.AssemblyInfo.cs
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.AssemblyInfoInputs.cache
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.assets.cache
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.csproj.AssemblyReference.cache
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.csproj.CopyComplete
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.csproj.CoreCompileInputs.cache
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.csproj.FileListAbsolute.txt
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.GeneratedMSBuildEditorConfig.editorconfig
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.genruntimeconfig.cache
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.GlobalUsings.g.cs
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.MvcApplicationPartsAssemblyInfo.cache
ROIApplication.API/obj/Release/net8.0/ROIApplication.API.MvcApplicationPartsAssemblyInfo.cs
ROIApplication.API/obj/Release/net8.0/staticwebassets/msbuild.build.ROIApplication.API.props
ROIApplication.API/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.ROIApplication.API.props
ROIApplication.API/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.ROIApplication.API.props
ROIApplication.API/Properties/PublishProfiles/WebApplication120231210170055 - Web Deploy.pubxml
ROIApplication.API/Properties/PublishProfiles/WebApplication120231210170055 - Web Deploy.pubxml.user
ROIApplication.API/Properties/serviceDependencies.WebApplication120231210170055 - Web Deploy.json.user
ROIApplication.API/ROIApplication.API.csproj.user
ROIApplication.Application/bin/Debug/ROIApplication.Application.dll
ROIApplication.Application/bin/Debug/ROIApplication.Application.pdb
ROIApplication.Application/bin/Debug/ROIApplication.Domain.dll
ROIApplication.Application/bin/Debug/ROIApplication.Domain.pdb
ROIApplication.Application/bin/Release/FluentValidation.xml
ROIApplication.Application/bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
ROIApplication.Application/bin/Release/Newtonsoft.Json.xml
ROIApplication.Application/bin/Release/RestSharp.xml
ROIApplication.Application/bin/Release/System.Buffers.xml
ROIApplication.Application/bin/Release/System.Memory.xml
ROIApplication.Application/bin/Release/System.Numerics.Vectors.xml
ROIApplication.Application/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
ROIApplication.Application/bin/Release/System.Text.Encodings.Web.xml
ROIApplication.Application/bin/Release/System.Text.Json.xml
ROIApplication.Application/bin/Release/System.Threading.Tasks.Extensions.xml
ROIApplication.Application/bin/Release/System.ValueTuple.xml
ROIApplication.Application/obj/Debug/build.force
ROIApplication.Application/obj/Debug/ROIApplication.Application.csproj.AssemblyReference.cache
ROIApplication.Application/obj/Debug/ROIApplication.Application.csproj.FileListAbsolute.txt
ROIApplication.Application/obj/Debug/ROIApplication.Application.dll
ROIApplication.Application/obj/Debug/ROIApplication.Application.pdb
ROIApplication.Application/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ROIApplication.Application/obj/Release/ROIApplication.Application.csproj.AssemblyReference.cache
ROIApplication.Application/obj/Release/ROIApplication.Application.csproj.CopyComplete
ROIApplication.Application/obj/Release/ROIApplication.Application.csproj.CoreCompileInputs.cache
ROIApplication.Application/obj/Release/ROIApplication.Application.csproj.FileListAbsolute.txt
ROIApplication.Data/bin/Debug/ROIApplication.Application.dll
ROIApplication.Data/bin/Debug/ROIApplication.Application.pdb
ROIApplication.Data/bin/Debug/ROIApplication.Domain.dll
ROIApplication.Data/bin/Debug/ROIApplication.Domain.pdb
ROIApplication.Data/bin/Release/FluentValidation.xml
ROIApplication.Data/bin/Release/Microsoft.Bcl.AsyncInterfaces.xml
ROIApplication.Data/bin/Release/Newtonsoft.Json.xml
ROIApplication.Data/bin/Release/RestSharp.xml
ROIApplication.Data/bin/Release/System.Buffers.xml
ROIApplication.Data/bin/Release/System.Memory.xml
ROIApplication.Data/bin/Release/System.Numerics.Vectors.xml
ROIApplication.Data/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
ROIApplication.Data/bin/Release/System.Text.Encodings.Web.xml
ROIApplication.Data/bin/Release/System.Text.Json.xml
ROIApplication.Data/bin/Release/System.Threading.Tasks.Extensions.xml
ROIApplication.Data/bin/Release/System.ValueTuple.xml
ROIApplication.Data/obj/Debug/build.force
ROIApplication.Data/obj/Debug/ROIApplication.Data.csproj.AssemblyReference.cache
ROIApplication.Data/obj/Debug/ROIApplication.Data.csproj.FileListAbsolute.txt
ROIApplication.Data/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ROIApplication.Data/obj/Release/ROIApplication.Data.csproj.AssemblyReference.cache
ROIApplication.Data/obj/Release/ROIApplication.Data.csproj.CopyComplete
ROIApplication.Data/obj/Release/ROIApplication.Data.csproj.CoreCompileInputs.cache
ROIApplication.Data/obj/Release/ROIApplication.Data.csproj.FileListAbsolute.txt
ROIApplication.Domain/bin/Debug/ROIApplication.Domain.dll
ROIApplication.Domain/bin/Debug/ROIApplication.Domain.pdb
ROIApplication.Domain/obj/Debug/ROIApplication.Domain.dll
ROIApplication.Domain/obj/Debug/ROIApplication.Domain.pdb
ROIApplication.Domain/obj/Debug/ROIApplication.Model.csproj.AssemblyReference.cache
ROIApplication.Domain/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ROIApplication.Domain/obj/Release/ROIApplication.Model.csproj.AssemblyReference.cache
ROIApplication.Domain/obj/Release/ROIApplication.Model.csproj.CoreCompileInputs.cache
ROIApplication.Domain/obj/Release/ROIApplication.Model.csproj.FileListAbsolute.txt
.vs/ROIApplication/FileContentIndex/5ddb15b8-7cb6-4982-a6f3-fc22202bda26.vsidx
.vs/ROIApplication/FileContentIndex/ad6088b8-5032-4ca2-8812-d00cf8d6c023.vsidx
.vs/ROIApplication/FileContentIndex/e09d856f-3548-445b-af40-a337326635d7.vsidx
.vs/ROIApplication/FileContentIndex/e3dfaa82-590e-4761-b19f-31d000436d03.vsidx
.vs/ROIApplication/FileContentIndex/fb2cecf7-1411-4b62-b013-c98e4101df73.vsidx
.vs/ROIApplication/v17/.suo
ROIApplication.API/bin/Debug/net8.0/appsettings.json
ROIApplication.API/bin/Debug/net8.0/ROIApplication.API.dll
ROIApplication.API/bin/Debug/net8.0/ROIApplication.API.exe
ROIApplication.API/bin/Debug/net8.0/ROIApplication.API.pdb
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Application.dll
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Application.pdb
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Domain.dll
ROIApplication.API/bin/Debug/net8.0/ROIApplication.Domain.pdb
ROIApplication.API/obj/Debug/net8.0/apphost.exe
ROIApplication.API/obj/Debug/net8.0/ref/ROIApplication.API.dll
ROIApplication.API/obj/Debug/net8.0/refint/ROIApplication.API.dll
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.csproj.AssemblyReference.cache
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.csproj.FileListAbsolute.txt
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.dll
ROIApplication.API/obj/Debug/net8.0/ROIApplication.API.pdb
ROIApplication.API/ROIApplication.API.csproj.user
ROIApplication.Application/bin/Debug/ROIApplication.Application.dll
ROIApplication.Application/bin/Debug/ROIApplication.Application.pdb
ROIApplication.Application/bin/Debug/ROIApplication.Domain.dll
ROIApplication.Application/bin/Debug/ROIApplication.Domain.pdb
ROIApplication.Application/obj/Debug/ROIApplication.Application.csproj.AssemblyReference.cache
ROIApplication.Application/obj/Debug/ROIApplication.Application.csproj.FileListAbsolute.txt
ROIApplication.Application/obj/Debug/ROIApplication.Application.dll
ROIApplication.Application/obj/Debug/ROIApplication.Application.pdb
ROIApplication.Data/bin/Debug/ROIApplication.Application.dll
ROIApplication.Data/bin/Debug/ROIApplication.Application.pdb
ROIApplication.Data/bin/Debug/ROIApplication.Domain.dll
ROIApplication.Data/bin/Debug/ROIApplication.Domain.pdb
ROIApplication.Data/obj/Debug/ROIApplication.Data.csproj.AssemblyReference.cache
ROIApplication.Data/obj/Debug/ROIApplication.Data.csproj.FileListAbsolute.txt
ROIApplication.Domain/bin/Debug/ROIApplication.Domain.dll
ROIApplication.Domain/bin/Debug/ROIApplication.Domain.pdb
ROIApplication.Domain/obj/Debug/ROIApplication.Domain.dll
ROIApplication.Domain/obj/Debug/ROIApplication.Domain.pdb
ROIApplication.Domain/obj/Debug/ROIApplication.Model.csproj.AssemblyReference.cache
